* {
  box-sizing: border-box;
}

/* Das ist ein Kommentar */
html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 100%;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

/*
Alle Links sollen:  

- schwarze Schrift
- nicht mehr unterstrichen
- Großbuchstaben
- Fette Schrift

*/

.nav-links {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.35s linear;
}

.nav-links:hover {
  color: #777;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0 20px;
}

#main-navigation {
  display: none;
}

#main-navigation.show {
  display: block;
}

#banner {
  background-image: url(img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  text-align: center;
}

.button {
  color: #374a67;
  background-color: #fff;
  border: 1px solid #374a67;
  border-color: #374a67;
  border-style: solid;
  border-width: 1px;
  padding: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: #d7dfea;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;

  /* Die Breite der Karte bei zu viel Text auf 1/4 setzen*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  flex: 1 1 25%;

  /*Rezept Button nach unten drücken*/
  display: flex;
  flex-direction: column;
}

.cardpic,
.card img {
  width: 100%;
}

.cardlink {
  color: #000;
  text-decoration: none;
  text-align: center;
  /*Rezept Button nach unten drücken*/
  flex-grow: 1;
}

.blue {
  color: #fff;
  background-color: hsl(216, 30%, 31%);
  display: block;
  text-align: center;
  margin: 15px;
}

.blue:hover {
  color: #fff;
  background-color: hsl(216, 30%, 45%);
}

.card p,
.card h3 {
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
}

/* Ab hier nur für Große Bildschirme (Media Query)*/
@media (min-width: 1180px) {
  #menu {
    display: none;
  }

  #main-navigation {
    display: block;
  }

  h1 {
    font-size: 3rem;
  }

  .row {
    display: flex;
    max-width: 1400px;
    margin: auto;
    gap: 20px;
  }
}
